.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list-view {
  width: 200px;
  height: 400px;
  float: left;
  padding: 20px;
  background-color: lightgrey;
}

.map-view {
  width: 400px;
  height: 400px;
  padding: 20px;
  margin-left: 260px;
  background-color: lightgrey;
}

.form{
  width: 100px;
  height: 400px;
  padding: 20px;
  margin-left: 860px;
  background-color: lightgrey;
}